body {
  background-color: black;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.spinner {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: auto;
  border-top: 1em solid blue;
  border-right: 1em solid transparent;
  animation: spinner 2s linear infinite;
}
.circle {
  width: 1em;
  height: 1em;
  background-color: blue;
  border-radius: 50%;
  margin-left: 8.5em;
  margin-top: 0.5em;
}
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
